{% extends 'base.html' %}
{% block title %}
    My Account
{% endblock %}
{% block body_block %}

    {% if student %}
        <div>
        {% if student.photo %}
            <h3>Your Photo: </h3>
            <img src="{{ student.photo.url }}" width="140" height="140"/>
        {%  endif %}
        </div>
        <div>
        <h3>Student Name: {{ user.first_name }}, {{ user.last_name }}</h3>
        <br>
            <h2>Interested Topics:</h2>
        <ul>
        {% for topic in student.interested_in.all %}
            <li>
                {{ topic.name }}
            </li>
        {% endfor %}
        </ul>
        <br>
        <h2>Registered Courses:</h2>
        <ul>
        {% for course in student.registered_courses.all %}
            <li>
                {{ course.title }}
            </li>
        {% endfor %}
        </ul>
        </div>
    {% else %}
        <div><p>You are not a registered student!</p></div>
    {% endif %}

{% endblock %}