{% extends 'base.html' %}

{% block body_block %}

    {% if student %}
        <div>

        </div>
        <div>
            <img src="{{ student.photo.url }}" width="140" height="140"/>
        </div>
        <div>
        <strong>Student Name: </strong>{{ user.first_name }}, {{ user.last_name }}
        <br>
        <br>
            <div><strong>Interested Topics: </strong></div>
        <ul>
        {% for topic in user.interested_in.all %}
            <li>
                {{ topic.name }}
            </li>
        {% endfor %}
        </ul>
        <br>
        <div><strong>Registered Courses:</strong></div>
        <ul>
        {% for course in user.registered_courses.all %}
            <li>
                {{ course.title }}
            </li>
        {% endfor %}
        </ul>
        </div>
    {% else %}
        <div><p>You are not a registered student!</p></div>
    {% endif %}

{% endblock %}