{% extends "base.html" %}
{% block body_block %}
    <body>
        <div>
            <br>
            <label><strong>Topic Name: {{ name }}</strong></label>
            <br>
            <label>Length: {{ length }} hours</label>
        </div>
        <br/>
        <div>
            <label><strong>Course list</strong></label>
            <ol>
                {% for course in courses %}
                <li>
                    {{ course.title | capfirst }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </body>
{% endblock %}