{% extends 'base.html' %}
{% block body_block %}
    {% if top_list %}
        <h2>List of Topics</h2>
        <ol>
            {% for top in top_list %}
                <li> <a href="{% url 'polls:detail' top.id %}">{{ top.name}} </a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}
    <br>
    <div>{{ last_login }}</div>
    <p><a href="{% url 'polls:about1' %}">About Page</a></p>
    <p><a href="{% url 'polls:placeorder' %}">Place Order</a></p>
{% endblock %}